<h1>something</h1>

{% schema %}
{
  "name": "category-spotlight",
  "tag": "article",
  "class": "category-spotlight",
  "presets": [
    {
      "name": "cotegory spotlight"
    }
  ],
  "settings": []
}
{% endschema %}
