<h1>something</h1>
<script>
  console.log('this is the selected category', '{{section.settings.category}}');
</script>

{% schema %}
{
  "name": "category-spotlight",
  "tag": "article",
  "class": "category-spotlight",
  "presets": [
    {
      "name": "cotegory spotlight"
    }
  ],
  "settings": [
    {
      "id": "category",
      "label": "Category",
      "info": "Select a category in order to display it",
      "type": "collection"
    }
  ]
}
{% endschema %}
