{% assign selectedCollection = collections[section.settings.collection] %}

<h1>{{ selectedCollection.title }}</h1>
<img width="300" height="auto" src="{{ selectedCollection.image |  image_url}}" alt="">
<script>
  console.log('this is the selected collection', '{{selectedCollection.image |  image_url}}');
</script>

{% schema %}
{
  "name": "collection-spotlight",
  "tag": "article",
  "class": "collection-spotlight",
  "presets": [
    {
      "name": "cotegory spotlight"
    }
  ],
  "settings": [
    {
      "id": "collection",
      "label": "Collection",
      "info": "Select a Collection",
      "type": "collection"
    }
  ]
}
{% endschema %}
