
<h1>Hello {{section.settings.headline}}</h1>

{% schema %}
{
    "name": "marquee",
    "tag": "section",
    "class": "marquee",
    "presets": [
        {
            "name": "marquee"
        }
    ],
    "settings": [
        {
            "label": "enter your name",
            "type": "text",
            "id": "headline"
        }
        ]
}
{% endschema %}